

.card-wrapper {
    max-width: 350px;
    display: flex; 
    background-color: #ffffff; 
    padding: 32; 
    border-radius: 8;
    margin: 5; 
    flex: 1;
    flex-direction: column;
}

.card-img-wrapper {
    width: 70%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px, 1px, 20px, #000000;
}

.card-img {
    align-self: center;
}

.card-description {
    color: #000000;
    text-align: center;
    width: 80%;
}